* {
    font-family: 'Orbitron', sans-serif;
}

#calculator {
    border-radius: 7px;
    margin: auto;
    margin-top: 20px;
    display: block;
    height: auto;
    width: 278px;
    font-size: 5px;
    padding: 5px;
    max-width: 320px;
}